<html>
	<head>
		<title>Compare - BenchBase WebUI</title>
		{{template "stylesheets" .}}
	</head>

	<body>

		{{template "navbar" .}}

		<ol id="focus_list" class="breadcrumb" style="width: 800px; margin:auto; margin-bottom: 30px;">
			{{if .Focus}}
			<li><a href="javascript:setPage({focus:''});">Compare</a></li>
			{{else}}
			<li>Compare</li>
			{{end}}
		</ol>

		<div id="compare">
			{{range .Tables}}
			<table class="table table-hover table-striped table-bordered table-nonfluid">
				<thead>
					<tr><th style="text-align:center;" colspan="{{.Width}}">{{.Category}}</th></tr>
					{{template "titles" .Titles}}
				</thead>

				<tbody>
					{{range .BenchGroups}}

						{{template "benchlist" .}}

					{{end}}
				</tbody>
			</table><br>
			{{end}}
		</div>

		{{template "scripts" .}}

		<script>
function setPage(extra) {
	document.location = makeLink(extra);
}
function setFocus(focus) {
	setPage({focus:focus});
}

function toggleFilter(spec, value) {
	var filters = {};
	var filterString = "{{.Filters}}";
	if (filterString != "")
		filters = JSON.parse(filterString);
	if (filters[spec] == value)
		delete filters[spec];
	else
		filters[spec] = value;
	setPage({filter:JSON.stringify(filters)});
}

function makeLink(extra) {
	var data = {
		spec: "{{.Spec}}",
		values:"{{.Values}}",
		ignore:"{{.Ignore}}",
		filters:"{{.Filters}}",
		ordering:"{{.Ordering}}",
		max:"{{.Max}}",
		depth:1,
		focus:"{{.Focus}}"
	};

	$.each(extra, function(k,v) {
		data[k] = v;
	});

	var params = [];
	$.each(data, function(k, v) {
		params.push(k +"="+v);
	});

	return "/compare?" + params.join("&");
}
		</script>

		{{if .Focus}}
		<script>
var focus = "{{.Focus}}";
var focusList = focus.split(".");
var prefix = "";
$.each(focusList, function(i, token) {
	if (i != 0)
		prefix += ".";
	prefix += token;

	if (i == focusList.length-1)
		$("#focus_list").append("<li>"+token+"</li>");
	else
		$("#focus_list").append("<li><a href='" + makeLink({focus:prefix}) + "'>" + token + "</a></li>");
});
		</script>
		{{end}}
	</body>
</html>
