<html>
	<head>
		<title>Compare - BenchBase WebUI</title>
		{{template "stylesheets" .}}
	</head>

	<body>

		{{template "navbar" .}}

		{{if .Focus}}
		<ol id="focus_list" class="breadcrumb" style="width: 800px; margin:auto; margin-bottom: 30px;">
			<li><a href="/compare?filter={{.Filter}}&depth=2">Focus</a></li>
		</ol>
		{{end}}

		<div id="compare">
			{{range .Tables}}
			<table class="table table-hover table-striped table-bordered table-nonfluid">
				<thead>
					<tr><th style="text-align:center;">{{.Category}}</th></tr>
					{{template "titles" addFilter .Titles $.Filter}}
				</thead>

				<tbody>
					{{range .BenchGroups}}

						{{template "benchlist" .}}

					{{end}}
				</tbody>
			</table>

			{{end}}
		</div>

		{{template "scripts" .}}

		{{if .Focus}}
		<script>
var focus = "{{.Focus}}";
var focusList = focus.split(".");
var prefix = "";
$.each(focusList, function(i, token) {
	if (i != 0)
		prefix += ".";
	prefix += token;

	if (i == focusList.length-1)
		$("#focus_list").append("<li>"+token+"</li>");
	else
		$("#focus_list").append("<li><a href='/compare?filter={{.Filter}}&depth=1&focus=" + prefix + "'>" + token + "</a></li>");
});
		</script>
		{{end}}
	</body>
</html>


