{{define "filters"}}
<h2>Filters</h2>
<p style="font-style:italic;">(Keep blank to ignore)</p>
<form>
	<div class="row">
		<div class="col-lg-3">
			<div class="form-group">
				<label for="hostInput{{.}}">Host</label>
				<input class="form-control" id="hostInput{{.}}" placeholder="Ex: c4.xlarge">
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<label for="revInput">Svn Revision</label>
				<input class="form-control" id="revInput{{.}}" placeholder="Ex: 11281">
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<label for="threadsInput">Threads used</label>
				<input class="form-control" id="threadsInput{{.}}" placeholder="Ex: 4">
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<label for="threadsPerCPUInput">Threads used per CPU</label>
				<input class="form-control" id="threadsPerCPUInput{{.}}" placeholder="Ex: 1">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="form-group">
				<h4>Order by:</h4>
				<label class="radio-inline">
					<input type="radio" name="ordering{{.}}" value="Rev" checked="checked">Rev, Host
				</label>
				<label class="radio-inline">
					<input type="radio" name="ordering{{.}}" value="Host">Host, Rev
				</label>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<label for="maxResults{{.}}">Max results</label> (0 for unlimited)
				<input class="form-control" id="maxResults{{.}}" value="20" placeholder="0">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group">
				<h4>Force analyze API?</h4>
				<label class="radio-inline">
					<input type="radio" name="forceAnalyze{{.}}" value="" checked="checked">Any
				</label>
				<label class="radio-inline">
					<input type="radio" name="forceAnalyze{{.}}" value="true">Analyze API
				</label>
				<label class="radio-inline">
					<input type="radio" name="forceAnalyze{{.}}" value="false">Direct API
				</label>
			</div>
		</div>
	</div>
</form>

<script>
if (typeof filterMakers == 'undefined') {
	filterMakers = {};
}

// Add per-tab function
filterMakers["{{.}}"] = function () {
	var filters = {};

	var host = $("#hostInput{{.}}").val();
	if (host != "") {
		filters["Host"] = host;
	}

	var rev = $("#revInput{{.}}").val();
	if (rev != "") {
		rev = rev.replace(/r/, '');
		var c = rev.charAt(0);
		if ("=><!".indexOf(c) == -1)
			rev = "=" + rev;
		filters["Rev"] = rev;
	}

	var threads = $("#threadsInput{{.}}").val();
	if (threads != "") {
		filters["Threads"] = threads;
	}

	var threadsPerCPU = $("#threadsPerCPUInput{{.}}").val();
	if (threadsPerCPU != "") {
		filters["ThreadPerCPU"] = threadsPerCPU;
	}

	var analyze = $("input:radio[name=forceAnalyze{{.}}]:checked").val();
	if (analyze != "") {
		filters["ForceAnalyze"] = analyze;
	}

	var ordering = '["' + $("input:radio[name=ordering{{.}}]:checked").val() + '"]';


	var filter = JSON.stringify(filters);

	var m = $("#maxResults{{.}}").val();

	return "filters="+filter+"&ordering=" + ordering + "&max=" + m;
}
</script>

{{end}}
