<html>
	<head>
		<title>BenchBase WebUI</title>

		{{template "stylesheets" .}}
	</head>

	<body>


		{{template "navbar" .}}

		<div id="listDiv" class="container" style="display:none;border: 1px solid #b0b0b0; border-radius:4px;padding-bottom:20px;">
			{{template "index_list"}}
		</div>
		<div id="compareDiv" class="container" style="display:none;border: 1px solid #b0b0b0; border-radius:4px;padding-bottom:20px;">
			{{template "index_compare"}}
		</div>

		{{template "scripts" .}}

		<script>
function openList() {
	$("#listBtn").addClass("active");
	$("#compareBtn").removeClass("active");

	$("#compareDiv").hide();
	$("#listDiv").show();
}

function openCompare() {
	$("#listBtn").removeClass("active");
	$("#compareBtn").addClass("active");

	$("#listDiv").hide();
	$("#compareDiv").show();
}

$("#listBtn").click(openList)
$("#compareBtn").click(openCompare)

var hash = window.location.hash.substring(1);
if (hash == "compare")
	openCompare();
else
	openList();
		</script>

	</body>
</html>
