<html>
	<head>
		<title>BenchBase WebUI</title>

		{{template "stylesheets" .}}
	</head>

	<body>


		{{template "navbar" .}}

		<div id="listDiv" class="container" style="display:none;border: 1px solid #b0b0b0; border-radius:4px;padding-bottom:20px;">
			{{template "index_list"}}
		</div>
		<div id="compareDiv" class="container" style="display:none;border: 1px solid #b0b0b0; border-radius:4px;padding-bottom:20px;">
			{{template "index_compare"}}
		</div>

		{{template "scripts" .}}

		<script src="/static/index.js"></script>
	</body>
</html>
