<html>
	<head>
		<title>List - BenchBase WebUI</title>
		{{template "stylesheets" .}}
	</head>

	<body>

		{{template "navbar" .}}

		{{if .Focus}}
		<ol id="focus_list" class="breadcrumb" style="width: 800px; margin:auto; margin-bottom: 30px;">
			<li><a href="javascript:setPage({focus:''});">Focus</a></li>
		</ol>
		{{end}}

		<div id="list">

			{{range .Tables}}
			<table class="table table-hover table-striped table-bordered table-nonfluid">
				<thead>
					<tr><th colspan="{{.Width}}" style="text-align:center;">{{.Category}}</th></tr>
					{{template "titles" .Titles}}
				</thead>

				<tbody>
					{{template "benchlist" .BenchList}}
				</tbody>

			</table>


			{{end}}
		
		</div>

		{{template "scripts" .}}

		<script>
function setPage(extra) {
	document.location = makeLink(extra);
}
function setFocus(focus) {
	setPage({focus:focus});
}

function makeLink(extra) {
	var data = {
		filter:"{{.Filter}}",
		focus:"{{.Focus}}"
	};

	$.each(extra, function(k,v) {
		data[k] = v;
	});

	var params = [];
	$.each(data, function(k, v) {
		params.push(k +"="+v);
	});

	return "/list?" + params.join("&");
}
		</script>

		{{if .Focus}}
		<script>
var focus = "{{.Focus}}";
var focusList = focus.split(".");
var prefix = "";
$.each(focusList, function(i, token) {
	if (i != 0)
		prefix += ".";
	prefix += token;

	if (i == focusList.length-1)
		$("#focus_list").append("<li>"+token+"</li>");
	else
		$("#focus_list").append("<li><a href='" + makeLink({focus:prefix}) + "'>" + token + "</a></li>");
});
		</script>
		{{end}}
	</body>
</html>

