{{define "stylesheets"}}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<!--
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.2.2/css/material-wfont.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.2.2/css/ripples.css" />
-->

<style>
* {
	font-size: 12px;
	line-height: 1.0;
}

.table-nonfluid {
	width: auto !important;
	margin:auto;
}

.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.rowGroup1:nth-of-type(even) {
	background-color: #e9ffff !important;
}
.rowGroup1:nth-of-type(odd) {
	background-color: #c9f9f9 !important;
}
.rowGroup1:nth-of-type(even):hover {
	background-color: #d9efef !important;
}
.rowGroup1:nth-of-type(odd):hover {
	background-color: #b9e9e9 !important;
}

.rowGroup2:nth-of-type(even) {
	background-color: #ffe9ff !important;
}
.rowGroup2:nth-of-type(odd) {
	background-color: #f9c9f9 !important;
}
.rowGroup2:nth-of-type(even):hover {
	background-color: #efd9ef !important;
}
.rowGroup2:nth-of-type(odd):hover {
	background-color: #e9b9e9 !important;
}

.rowGroup3:nth-of-type(even) {
	background-color: #ffffe9 !important;
}
.rowGroup3:nth-of-type(odd) {
	background-color: #f9f9c9 !important;
}
.rowGroup3:nth-of-type(even):hover {
	background-color: #efefd9 !important;
}
.rowGroup3:nth-of-type(odd):hover {
	background-color: #e9e9b9 !important;
}

</style>
{{end}}
